<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Model.Settings1.DBcon" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;H:\Eigene Dateien\C#-Projekt\Warhammer.accdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>